* {
  
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #282c34;
  margin-top: 40px;
}

h1{
  color: white;
}

.app-usuarios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-principal {
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns:minmax(200px, 800px);
  grid-template-rows: auto auto;
}



